.manage-page {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
}

.manage-page .manage-wrapper {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    gap: 1rem;
}

.manage-page .manage-wrapper .cabs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 3 1 auto;
}

.manage-page .manage-wrapper .drivers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
}

.manage-wrapper .cab-card {
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    gap: .75rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: .9rem;
}

.draggable-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: .25rem 1rem;
    width: 100%;
    user-select: none;
    align-items: center;

    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 500ms;
}
.draggable-box:hover{
    border: 2px solid #787879;
}

.divider {
    border: 1px solid #787879;
}