.search-button{
    padding: .8rem 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: .8rem;
    width: fit-content;

    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

.driver-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 12px;
    z-index: 10;
}

.driver-modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.driver-modal-content .fields form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.driver-modal-content .fields form .field {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.search-alter {
    background-color: var(--background-color) !important;
}

.driver-modal-content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    display: flex;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px;
    transition: background-color 200ms ease-in;
}

.close-button:hover {
    background-color: var(--background-color);
}

.driver-modal-content .submit {
    display: flex;
    align-self: center;
    padding: 1rem;
    background-color: var(--background-color);
    width: fit-content;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.submit.delete-button{
    background-color: lightcoral;
}

.driver-modal-content .buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}