* {
  margin: auto 0;
  box-sizing: border-box;
}

.cabcard {
  box-shadow: 3px 3px #000000;
  color: aliceblue;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  width: 70%;
  border-radius: 14px;
}

.cabcard h3 {
  margin-left: 50px;
  margin-right: 600px;
}

.cabcard span {
  margin-left: 40px;
}

button {
  border: 0;
  background-color: #404040;
}

button :hover {
  background-color: #b1acac;
}
