.add-cabs {
  display: flex;
  flex-direction: column;
}

.add-cabs-btn {
  background-color: yellow;
  color: black;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.btn-and-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 3.5rem;
}

.search-cabs {
  display: flex;
  flex-direction: column;
}

.cab-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-left: 2rem;
}

.cabs-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.cab-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  align-items: center;
  overflow: hidden;
  font-weight: 500;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.cab-container .cab-info-top {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cab-container .cab-info-top p {
  margin: 0 12px;
}

.cab-container .cab-info-top span {
  cursor: pointer;
}

.cab-container .cab-img {
  margin-top: auto;
}

.cab-container .cab-img img {
  width: 280px;
  height: 160px;
}

.cab-container .cab-info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.cab-container .cab-info-bottom .bottom-color .color-box {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  margin: 0 10px;
}

.add-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 22px;
  border-radius: 12px;
  z-index: 10;
  padding-bottom: 15px;
}

.add-modal .modal-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-modal .modal-header span {
  cursor: pointer;
}

.add-modal .modal-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-modal .modal-inputs label {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.add-modal .modal-inputs input {
  background-color: black;
  color: white;
  border: white 1px solid;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.add-modal .modal-inputs input:focus {
  outline: none;
  border: white 2px solid;
}

.add-modal .modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-modal .modal-footer button {
  margin: 20px 220px;
  background-color: yellow;
  color: black;
  border-top-left-radius: 58px;
  border-bottom-right-radius: 58px;
  cursor: pointer;
}

.search-boxes {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
