.driver-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.driver-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.driver-card {
  display: flex;
  flex-direction: column;

  margin: 0.5rem 0;
  padding: 1rem;

  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  gap: 10px;
  user-select: none;

  cursor: pointer;

  width: 450px;
  transition: all 250ms;
}

.driver-card:hover {
  transform: scale(1.02);
}

.driver-card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.driver-card .card-top .action-buttons {
  display: flex;
}

.action-buttons .edit-button {
  transition: all 250ms;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  color: var(--text-color);
}

.action-buttons .edit-button:hover {
  background-color: var(--background-color);
}

.driver-card .card-top .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.driver-card .card-top .left .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details .id {
  font-size: small;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.search-drivers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-drivers .search-boxes {
  display: flex;
  padding: 0 1rem 0 0;
  gap: 20px;
  width: 100%;
}

.search-drivers .buttons-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-search {
  flex: 1 1 auto;
}

.cab-search {
  flex: 1 1 auto;
}

.modal-content {
  background-color: #222831;
  padding: 19px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-content .modal-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

.modal-content .modal-top span {
  cursor: pointer;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 6px;
}

.modal-content .modal-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 20px;
}

.modal-content button {
  padding: 8px 16px;
  background-color: #00adb5;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

.modal-content::-webkit-scrollbar {
  width: 0.3rem;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 8px;
}
