.driver-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.driver-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.driver-card {
  display: flex;
  flex-direction: column;

  margin: 0.5rem 0;
  padding: 1rem;

  background-color: #212124;
  color: white;
  border-radius: 10px;
  gap: 10px;
  user-select: none;

  cursor: pointer;

  width: 450px;
  transition: all 250ms;
}

.driver-card:hover {
  transform: scale(1.02);
}

.driver-card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.driver-card .card-top .action-buttons {
  display: flex;
}

.action-buttons .edit-button {
  transition: all 250ms;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.action-buttons .edit-button:hover {
  background-color: #161618;
}

.driver-card .card-top .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.driver-card .card-top .left .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details .id {
  font-size: small;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tag {
  display: flex;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 10px;
  width: fit-content;
  user-select: none;

  transition: all 250ms;
}

.tag.cab {
  border: 2px solid #0048b5;
}

.tag.cab:hover {
  background-color: #0048b560;
}

.tag.email {
  border: 2px solid #5400b5;
}

.tag.email:hover {
  background-color: #5400b560;
}

.tag.phone {
  border: 2px solid #e80f88;
}

.tag.phone:hover {
  background-color: #e80f8860;
}

.tag.since {
  border: 2px solid #d5cea3;
}

.tag.since:hover {
  background-color: #d5cea360;
}

.search-drivers {
  display: flex;
  gap: 20px;
}

.search {
  outline: none;
  padding: 0.7rem;
  border-radius: 6px;
  outline: 2px solid #212124;
  background: transparent;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  margin: 10px 0;

  transition: all 250ms;
}

.search:focus {
  outline: 2px solid #787879;

  transition: all 250ms;
}

.name-search {
  width: 40%;
}

.cab-search {
  width: 15%;
}

.add-drivers {
  position: fixed;
  bottom: 30px;
  left: 52%;
  transform: translateX(-48%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  color: #00adb5;
  background-color: transparent;
  flex-direction: row;
}

.add-drivers button {
  background-color: #00adb5;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 70px;
  width: 200px;
  transition: background-color 200ms ease-in, transform 300ms ease-in;
}

.add-drivers button:hover {
  background-color: #222831;
  transform: scale(1.05);
  color: #00adb5;
}

.add-drivers button:active {
  transform: scale(0.98);
}

.add-drivers button span {
  margin: auto;
  justify-content: center;
  margin: 2px 5px;
}

.add-drivers button h2 {
  margin: 2px 5px;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: #222831;
  padding: 19px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-content .modal-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

.modal-content .close-icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.modal-content h3 {
  margin: 0;
}

.modal-content form {
  margin-top: 30px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 6px;
}

.modal-content button {
  padding: 8px 16px;
  background-color: #00adb5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

.modal-content::-webkit-scrollbar {
  width: 0.3rem;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 8 px;
}
