:root {
  --background-color: #161618;
  --secondary-color: #212124;
  --text-color: #fff;
}

[data-theme='dark'] {
  --background-color: #161618;
  --secondary-color: #212124;
  --text-color: #fff;
}

[data-theme='light'] {
  --background-color: #E0E0E0;
  --secondary-color: #fafafa;
  --text-color: #000;
}

.w-100 {
  font-weight: 100;
}

.w-200 {
  font-weight: 200;
}

.w-300 {
  font-weight: 300;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

button {
  outline: none;
  border: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 8px;
}

.bg {
  background-color: var(--background-color) !important;
}

.fg {
  background-color: var(--secondary-color) !important;
}

.main-wrapper {
  margin-left: 75px;
}

a {
  color: inherit;
  text-decoration: none;
}

.text.hide {
  display: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-size: small;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 1rem;
}

.sidebar .Navigation {
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  color: #818181;
}

.expand {
  display: flex;
  align-items: center;
  margin: 1rem 0.75rem;
  padding: 0.5rem;
  transition: all 500ms;
  color: #818181;
  cursor: pointer;
}

.sidebar .Navigation .nav-item {
  display: flex;
  align-items: center;
  margin: 1rem 0.75rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #818181;
  transition: all 500ms;
  border-radius: 10px;
  font-weight: 500;
}

.sidebar .Navigation .nav-item .text {
  padding-left: 5px;
}

.sidebar .Navigation .nav-item:hover {
  background-color: #00adb5;
  color: #222831;
}

.nav-item.active {
  background-color: #00adb5;
  color: #222831 !important;
}

.sidebar .color-mode {
  cursor: pointer;
}

.hide-background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}