:root {
  --background-color: #161618;
  --secondary-color: #212124;
  --text-color: #fff;
}

[data-theme="dark"] {
  --background-color: #161618;
  --secondary-color: #212124;
  --text-color: #fff;
}

[data-theme="light"] {
  --background-color: #e8ebeb;
  --secondary-color: #fafafa;
  --text-color: #000;
}

.w-100 {
  font-weight: 100;
}

.w-200 {
  font-weight: 200;
}

.w-300 {
  font-weight: 300;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

button {
  outline: none;
  border: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

*::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 8px;
}

.bg {
  background-color: var(--background-color) !important;
}

.fg {
  background-color: var(--secondary-color) !important;
}

.main-wrapper {
  margin-left: 75px;
}

a {
  color: inherit;
  text-decoration: none;
}

.text.hide {
  display: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-size: small;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 1rem;
}

.sidebar .Navigation {
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  color: #818181;
}

.expand {
  display: flex;
  align-items: center;
  margin: 1rem 0.75rem;
  padding: 0.5rem;
  transition: all 500ms;
  color: #818181;
  cursor: pointer;
}

.sidebar .Navigation .nav-item {
  display: flex;
  align-items: center;
  margin: 1rem 0.75rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #818181;
  transition: all 500ms;
  border-radius: 10px;
  font-weight: 500;
}

.sidebar .Navigation .nav-item .text {
  padding-left: 5px;
}

.sidebar .Navigation .nav-item:hover {
  background-color: #00adb5;
  color: #222831;
}

.nav-item.active {
  background-color: #00adb5;
  color: #222831 !important;
}

.sidebar .color-mode {
  cursor: pointer;
}

.hide-background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Landing Page */
.landing-frames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-frames div.container {
  padding: 0.5rem;
  height: 100vh !important;
  overflow: hidden;
}

.landing-frames div.container:nth-child(odd) {
  background: var(--background-color) !important;
}

.landing-frames div.container:nth-child(even) {
  background: #2b2b3a !important;
}

.cabs-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1.5rem 0 0 0 !important;
  gap: 3rem;
}

.cabs-flex .header h2 {
  font-weight: 500;
  font-size: 5rem;
}

.cabs-flex .header h2 span {
  color: #00adb5;
}

.deets-one {
  font-size: 1.5rem;
}

.drivers-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 0 2rem 2rem !important;
}

.drivers-flex .deets-two {
  font-size: 2rem;
  flex: 1 1 0;
}

.deets-three {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.deets-three span {
  font-size: 23px;
}

.relations-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5rem 0 0 0 !important;
  gap: 3rem;
}

.relations-flex .top {
  display: flex;
  flex-direction: row;
}

.relations-flex .bottom .git-buttons {
  display: flex;
  flex-direction: row;
}

.git-flex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem !important;
}

.search {
  outline: none;
  padding: 0.7rem;
  border-radius: 6px;
  outline: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border: none;
  color: var(--text-color);
  font-family: inherit;
  font-size: 14px;
  margin: 10px 0;

  transition: all 250ms;
  flex: 1 1 auto;
}

.search:focus {
  outline: 2px solid #787879;
  flex: 2 1 auto;
  transition: all 250ms;
}

.search-button {
  padding: 0.8rem 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-size: 0.8rem;
  width: fit-content;

  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 15px;
  border-radius: 10px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(240, 4%, 14%);
  }

  100% {
    background-color: hsl(195, 4%, 22%);
  }
}

/* Update Modals */

.update-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 12px;
  z-index: 10;
}

.update-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update-modal-content .fields form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.update-modal-content .fields form .field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.search-alter {
  background-color: var(--background-color) !important;
}

.update-modal-content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  display: flex;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px;
  transition: background-color 200ms ease-in;
}

.close-button:hover {
  background-color: var(--background-color);
}

.update-modal-content .submit {
  display: flex;
  align-self: center;
  padding: 1rem;
  background-color: var(--background-color);
  width: fit-content;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.submit.delete-button {
  background-color: #ff6969;
}

.update-modal .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Create Modal */

.create-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 12px;
  z-index: 10;
}

.create-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-modal-content .fields form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-modal-content .fields form .field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.search-alter {
  background-color: var(--background-color) !important;
}

.create-modal-content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  display: flex;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px;
  transition: background-color 200ms ease-in;
}

.close-button:hover {
  background-color: var(--background-color);
}

.create-modal-content .submit {
  display: flex;
  align-self: center;
  padding: 1rem;
  background-color: var(--background-color);
  width: fit-content;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.submit.delete-button {
  background-color: #ff6969;
}

.create-modal-content .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Tooltip Styles */

.tooltip {
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  display: inline-block;
  bottom: 2px;
}

.tooltip .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

/*Tag styles */
.tag {
  display: flex;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 10px;
  width: fit-content;
  user-select: none;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: auto;

  transition: all 250ms;
}

.tag.cab {
  border: 2px solid #0048b5;
}

.tag.cab:hover {
  background-color: #0048b560;
}

.tag.email {
  border: 2px solid #5400b5;
}

.tag.email:hover {
  background-color: #5400b560;
}

.tag.phone {
  border: 2px solid #e80f88;
}

.tag.phone:hover {
  background-color: #e80f8860;
}

.tag.since {
  border: 2px solid #d5cea3;
}

.tag.since:hover {
  background-color: #d5cea360;
}
